<a href="https://colab.research.google.com/github/anirban-a/DataAnalyticsSpring2023_Anirban_Acharya/blob/main/Jefferson_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
library(ggplot2)
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [3]:
df <- read.csv('/content/2018_JP_VP_Level4.csv')

In [9]:
# see number of columns:
ncol(df)
nrow(df)

[1] 12

[1] 164646

In [6]:
# see number of NA values.
sum(is.na(df))

[1] 478242

In [7]:
df <- na.omit(df)

In [11]:
ncol(df)
nrow(df)

[1] 12

[1] 164646

In [12]:
# see number of NA values.
sum(is.na(df))

[1] 0

In [13]:
head(df)

    DateTime            Site_Name       Chla_Water_EXO SensorDepth_Water_EXO
675 2018-05-14 16:07:00 VP_AnthonysNose 0.198          0.99
676 2018-05-14 16:08:00 VP_AnthonysNose 0.099          1.80
677 2018-05-14 16:09:00 VP_AnthonysNose 0.072          3.04
678 2018-05-14 16:10:00 VP_AnthonysNose 0.180          3.83
680 2018-05-14 16:12:00 VP_AnthonysNose 0.324          4.83
681 2018-05-14 16:13:00 VP_AnthonysNose 0.279          5.91
    DO_Water_EXO DO.Sat_Water_EXO SpCond_Water_EXO Temperature_Water_EXO
675 12.53        108.84           138.63           9.12
676 12.53        108.75           138.62           9.12
677 12.54        108.85           138.54           9.12
678 12.54        108.83           138.50           9.11
680 12.55        108.80           138.45           9.07
681 12.53        108.74           138.48           9.11
    Turbidity_Water_EXO pH_Water_EXO PC_Water_EXO fDOM_Water_EXO
675 0.51                7.630000     0.1514716    1.030458
676 0.49                7.629989     0.1514716    1.066934
677 0.53                7.629978     0.1714021    1.021339
678 0.54                7.629967     0.1713567    1.057743
680 0.51                7.629945     0.1612234    1.020990
681 0.51                7.629934     0.1713567    1.066861

## Create a Dataframe of correlations between each numerical variables.

In [53]:
colx <- c()
coly <- c()
correlation <- c()

for(i in 3:(length(cols)-1)){
  for(j in (i+1):length(cols)){
    colx <- append(colx, cols[(i-2)])
    coly <- append(coly, cols[(j-2)])
    correlation <- append(correlation, cor(df[, i], df[, j]))
  }
}

correlations <- data.frame(colx, coly, correlation)

### Let's look into the correlations:

In [54]:

correlations

   colx                  coly                  correlation
1  Chla_Water_EXO        SensorDepth_Water_EXO -0.217278879
2  Chla_Water_EXO        DO_Water_EXO           0.472471893
3  Chla_Water_EXO        DO.Sat_Water_EXO       0.346567623
4  Chla_Water_EXO        SpCond_Water_EXO       0.482357810
5  Chla_Water_EXO        Temperature_Water_EXO -0.176867517
6  Chla_Water_EXO        Turbidity_Water_EXO    0.544613363
7  Chla_Water_EXO        pH_Water_EXO           0.171425854
8  SensorDepth_Water_EXO DO_Water_EXO          -0.009118491
9  SensorDepth_Water_EXO DO.Sat_Water_EXO      -0.585003393
10 SensorDepth_Water_EXO SpCond_Water_EXO      -0.483456456
11 SensorDepth_Water_EXO Temperature_Water_EXO -0.756599152
12 SensorDepth_Water_EXO Turbidity_Water_EXO    0.080498272
13 SensorDepth_Water_EXO pH_Water_EXO          -0.777385940
14 DO_Water_EXO          DO.Sat_Water_EXO       0.721911432
15 DO_Water_EXO          SpCond_Water_EXO       0.159936930
16 DO_Water_EXO          Temperature_Water_EXO -0.384018334
17 DO_Water_EXO          Turbidity_Water_EXO    0.412185202
18 DO_Water_EXO          pH_Water_EXO           0.213031874
19 DO.Sat_Water_EXO      SpCond_Water_EXO       0.355133357
20 DO.Sat_Water_EXO      Temperature_Water_EXO  0.356143841
21 DO.Sat_Water_EXO      Turbidity_Water_EXO    0.095887556
22 DO.Sat_Water_EXO      pH_Water_EXO           0.744873538
23 SpCond_Water_EXO      Temperature_Water_EXO  0.253772516
24 SpCond_Water_EXO      Turbidity_Water_EXO    0.542918101
25 SpCond_Water_EXO      pH_Water_EXO           0.249633034
26 Temperature_Water_EXO Turbidity_Water_EXO   -0.453452447
27 Temperature_Water_EXO pH_Water_EXO           0.699138087
28 Turbidity_Water_EXO   pH_Water_EXO          -0.264839711

### Variables having positive correlations in descending order.

In [61]:
correlations |> filter(correlation>0)|>arrange(desc(correlation))

   colx                  coly                  correlation
1  DO.Sat_Water_EXO      pH_Water_EXO          0.74487354
2  DO_Water_EXO          DO.Sat_Water_EXO      0.72191143
3  Temperature_Water_EXO pH_Water_EXO          0.69913809
4  Chla_Water_EXO        Turbidity_Water_EXO   0.54461336
5  SpCond_Water_EXO      Turbidity_Water_EXO   0.54291810
6  Chla_Water_EXO        SpCond_Water_EXO      0.48235781
7  Chla_Water_EXO        DO_Water_EXO          0.47247189
8  DO_Water_EXO          Turbidity_Water_EXO   0.41218520
9  DO.Sat_Water_EXO      Temperature_Water_EXO 0.35614384
10 DO.Sat_Water_EXO      SpCond_Water_EXO      0.35513336
11 Chla_Water_EXO        DO.Sat_Water_EXO      0.34656762
12 SpCond_Water_EXO      Temperature_Water_EXO 0.25377252
13 SpCond_Water_EXO      pH_Water_EXO          0.24963303
14 DO_Water_EXO          pH_Water_EXO          0.21303187
15 Chla_Water_EXO        pH_Water_EXO          0.17142585
16 DO_Water_EXO          SpCond_Water_EXO      0.15993693
17 DO.Sat_Water_EXO      Turbidity_Water_EXO   0.09588756
18 SensorDepth_Water_EXO Turbidity_Water_EXO   0.08049827