<a href="https://colab.research.google.com/github/anirban-a/DataAnalyticsSpring2023_Anirban_Acharya/blob/jp-initial/Project/jp_vertical_profiler_wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [355]:
library(ggplot2)
library(dplyr)
library(tidyverse)
library(cowplot)
library(knitr)

In [356]:
vp_17 <- read.csv('2017_JP_VP.csv')
wx_17 <- read.csv('2017_JP_WX.csv')

In [357]:
ts_18 <- read.csv('2018_JP_TS_Level4.csv')
vp_18 <- read.csv('2018_JP_VP_Level4.csv')
# wx_18 <- read.csv('2018_JP_WX_Level4.csv')

In [358]:
# ts_19 <- read.csv('2019_JP_TS_Level4.csv')
vp_19 <- read.csv('2019_JP_VP_Level4.csv')
# wx_19 <- read.csv('2019_JP_WX_Level4.csv')

In [359]:
# ts_20 <- read.csv('2020_JP_TS_Level4.csv')
# wx_20 <- read.csv('2020_JP_WX_Level4.csv')

In [360]:
nrow(vp_17)
nrow(vp_19)

[1] 293451

[1] 3788159

In [361]:
vp_17 <- vp_17|>select(-CalibrationChange_System_EXO, -SensorDepth_Water_EXO, -Pressure_Water_EXO, -fDOM_Water_EXO)

In [362]:
vp_17 <- vp_17|>select(-PC.TC_Water_EXO)
vp_17 <- vp_17|>select(-Sitename)

In [363]:
mean_Chla_value <- mean(vp_17$Chla_Water_EXO, na.rm = T) # mean chlorophyll A value

In [364]:
# Replace missing values with their means.

vp_17 <- vp_17 |>
  mutate(across(Chla_Water_EXO, ~replace_na(., mean(., na.rm=TRUE))))

vp_17 <- vp_17 |>
  mutate(across(DO.Sat_Water_EXO, ~replace_na(., mean(., na.rm = T))))

vp_17 <- vp_17 |>
  mutate(across(DO_Water_EXO, ~replace_na(., mean(., na.rm = T))))

vp_17 <- vp_17 |>
  mutate(across(fDOM.TC_Water_EXO, ~replace_na(., mean(., na.rm = T))))

vp_17 <- vp_17 |>
  mutate(across(PC_Water_EXO, ~replace_na(., mean(., na.rm = T))))

vp_17 <- vp_17 |>
  mutate(across(pH_Water_EXO, ~replace_na(., mean(., na.rm = T))))

vp_17 <- vp_17 |>
  mutate(across(SpCond_Water_EXO, ~replace_na(., mean(., na.rm = T))))

vp_17 <- vp_17 |>
  mutate(across(Temperature_Water_EXO, ~replace_na(., mean(., na.rm = T))))

In [365]:
vp_18 <- vp_18|>
  select(-SensorDepth_Water_EXO, -Turbidity_Water_EXO)
vp_18 <- vp_18|>select(-Site_Name)

In [366]:
# Replace missing values with their means.

vp_18 <- vp_18 |>
  mutate(across(Chla_Water_EXO, ~replace_na(., mean(., na.rm=TRUE))))

vp_18 <- vp_18 |>
  mutate(across(DO.Sat_Water_EXO, ~replace_na(., mean(., na.rm = T))))

vp_18 <- vp_18 |>
  mutate(across(DO_Water_EXO, ~replace_na(., mean(., na.rm = T))))

vp_18 <- vp_18 |>
  mutate(across(PC_Water_EXO, ~replace_na(., mean(., na.rm = T))))

vp_18 <- vp_18 |>
  mutate(across(pH_Water_EXO, ~replace_na(., mean(., na.rm = T))))

vp_18 <- vp_18 |>
  mutate(across(SpCond_Water_EXO, ~replace_na(., mean(., na.rm = T))))

vp_18 <- vp_18 |>
  mutate(across(Temperature_Water_EXO, ~replace_na(., mean(., na.rm = T))))

vp_18 <- vp_18 |>
  mutate(across(fDOM_Water_EXO, ~replace_na(., mean(., na.rm = T))))

In [367]:
colnames(vp_17)

[1] "PC_Water_EXO"          "Chla_Water_EXO"        "DateTime"
[4] "DO_Water_EXO"          "DO.Sat_Water_EXO"      "SpCond_Water_EXO"
[7] "Temperature_Water_EXO" "pH_Water_EXO"          "fDOM.TC_Water_EXO"

In [368]:
colnames(vp_19)

 [1] "DateTime"                   "Site_Name"
 [3] "Chla_Water_EXO"             "SensorDepth_Water_EXO"
 [5] "DO_Water_EXO"               "DO.Sat_Water_EXO"
 [7] "SpCond_Water_EXO"           "Temperature_Water_EXO"
 [9] "Turbidity_Water_EXO"        "pH_Water_EXO"
[11] "PC_Water_EXO"               "fDOM_Water_EXO"
[13] "VerticalPosition_Water_EXO"

In [369]:
vp_19 <- vp_19|>select(-SensorDepth_Water_EXO, -VerticalPosition_Water_EXO, -Turbidity_Water_EXO, -Site_Name)

In [370]:
vp_19 <- vp_19 |>
  mutate(across(Chla_Water_EXO, ~replace_na(., mean(., na.rm=TRUE))))

vp_19 <- vp_19 |>
  mutate(across(DO_Water_EXO, ~replace_na(., mean(., na.rm=TRUE))))

vp_19 <- vp_19 |>
  mutate(across(DO.Sat_Water_EXO, ~replace_na(., mean(., na.rm=TRUE))))

vp_19 <- vp_19 |>
  mutate(across(SpCond_Water_EXO, ~replace_na(., mean(., na.rm=TRUE))))

vp_19 <- vp_19 |>
  mutate(across(Temperature_Water_EXO, ~replace_na(., mean(., na.rm=TRUE))))

vp_19 <- vp_19 |>
  mutate(across(pH_Water_EXO, ~replace_na(., mean(., na.rm=TRUE))))

vp_19 <- vp_19 |>
  mutate(across(PC_Water_EXO, ~replace_na(., mean(., na.rm=TRUE))))

vp_19 <- vp_19 |>
  mutate(across(fDOM_Water_EXO, ~replace_na(., mean(., na.rm=TRUE))))

In [371]:
vp_17 <- vp_17|>rename(rel_fl=fDOM.TC_Water_EXO)
vp_18 <- vp_18|>rename(rel_fl=fDOM_Water_EXO)
vp_19 <- vp_19|>rename(rel_fl=fDOM_Water_EXO)

In [434]:
# Combine the 3 dataframes..
vp_df <- rbind(vp_17, vp_18, vp_19)

In [435]:
vp_df <- vp_df|>na.omit()

In [395]:
get_date = function(d){
  return(unlist(str_split_1(d|>toString(), pattern = ' '))[1])
}

In [439]:
extract_from_date_time<-function(d, pos=1){
  return(unlist(str_split_1(toString(d), pattern = '/'))[pos])
}

extract_day <- function(d){
  extract_from_date_time(d, 2)|>as.character()
}

extract_month <- function(d){
  extract_from_date_time(d, 1)|>as.character()
}

extract_year <- function(d){
  extract_from_date_time(d, 3)|>as.character()
}

In [441]:
# club per day values by mean
vp_df_daily <- vp_df|>
  group_by(DateTime)|>
  summarise(
    PC_Water_EXO = mean(PC_Water_EXO),
    Chla_Water_EXO = mean(Chla_Water_EXO),
    DO_Water_EXO = mean(DO_Water_EXO),
    DO.Sat_Water_EXO = mean(DO.Sat_Water_EXO),
    SpCond_Water_EXO = mean(SpCond_Water_EXO),
    Temperature_Water_EXO = mean(Temperature_Water_EXO),
    pH_Water_EXO = mean(pH_Water_EXO),
    rel_fl = mean(rel_fl)
    )|>ungroup()

In [442]:
vp_df_daily <- vp_df_daily|>mutate(
  day = lapply(DateTime, extract_day)|>as.integer(),
  month = lapply(DateTime, extract_month)|>as.integer(),
  year = lapply(DateTime, extract_year)|>as.integer()
  )